@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(12px, 2.1vw, 0.7rem);
	line-height: 31px;
	letter-spacing: 1.5px;
	color: #3c4043;
}

h1:not([class="terms"]),
h3 {
	color: #27a4ff;
	font-weight: 700 !important;
}

h1 {
	font-style: normal;
	text-transform: capitalize;
	font-weight: 700;
	font-size: clamp(14px, 1.8vw, 1.5rem);
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.16px;
}

.link,
.years {
	color: #3c4043;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0.1599999964237213px;
	text-align: left;
	text-decoration: none;
}
