---
---

@import "typography";

body {
	height: 100vh;
}

nav {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 58%;
	padding-inline: 1rem;
	border: 1px solid #dbd9d9;
	border-radius: 0px 0px 21px 21px;
}

button {
	display: flex;
	gap: 8px;
	align-items: center;
	padding-inline: 10px;
	padding-block: 1px;
	border: 1px solid #bbb7b7;
	border-radius: 13px;
	background-color: #ffff;
}

button span {
	font-weight: 600;
	text-transform: capitalize;
	font-size: 9px;
	line-height: 16px;
	color: #000000;
}

.container {
	width: 95%;
	margin: auto;
}

.content {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.universal {
	width: min(70vw, 90%);
	font-size: clamp(9px, 1.2vw, 0.2rem);
}

.statement {
	height: 100vh;
	overflow-y: scroll;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.statement::-webkit-scrollbar {
	width: 0.6em;
}

// ::-webkit-scrollbar-thumb{
//     background: #27A4FF;
//     width: .5rem;
//     min-height: 13px;
//     border-radius: 100vw;

// }

// .statement::-webkit-scrollbar-track{
//  background: hsl(210, 9%, 87%);
//  width: 50%;
//  border-radius: 100vw;
// }

// .statement::-webkit-scrollbar-track:hover{
//  background: hsl(210, 9%, 87%);
//  transition: all .5s;
//  height: 50%;
// }

.menu {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-block-start: 16.5rem;
	margin-block-end: auto;
}

.years {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-block-start: 16.5rem;
	margin-block-end: auto;
}

.menu *,.years *{
	cursor: pointer;
}

.years ul {
	display: flex;
	justify-content: end;
	flex-direction: column;
	list-style: none;
	align-items: flex-end;
	padding: 0;
}

.menu ul {
	display: flex;
	justify-content: start;
	flex-direction: column;
	list-style: none;
	align-items: flex-start;
	padding: 0;
}

.menu ul li:hover,.years ul li:hover{
	scale: 1.1;
}
