<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <title>{{ site.title }}</title>
</head>

<body class="container">
    <nav>{% include navbar.html %}</nav>
    <div class="content">
        <div class="menu">
          {% include menu.html %}
        </div>
        <div class="statement">
            {{ content }}
        </div>
        <div class="years">
            {% include years.html %}
        </div>
    </div>
</body>

</html>